.main{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotatex(35deg);
    /* transform: skewX(25deg); */
    /* transform: translate(20px,30px); */
    margin-top: 200px;
    margin-left: 200px;
    position: absolute;
    font-size: 200%;
    color: rgb(241, 16, 16);
}
body{
    height: 100svh;
    perspective: 200px;
    position: relative;
}